body {
    background-image: url(stars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'League Sparta';
}

.main {
    margin: 5%;
    background-color: #021F4B;
    padding: 3%;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;

h3 {
    font-family: 'Yeseva One';
}